device: "cuda"
seed: 42

output_dir: "outputs"

calibration:
  enabled: true
  num_images: 1500
  target_pass_rate: 0.60

datasets:
  cuhk:
    image_root: "/root/autodl-tmp/PSPD/dataset/CUHK-PEDES/imgs"
    ann_file: "/root/autodl-tmp/PSPD/dataset/CUHK-PEDES/reid_raw.json"
  icfg:
    image_root: "/root/autodl-tmp/PSPD/dataset/ICFG-PEDES"
    ann_file:  "/root/autodl-tmp/PSPD/dataset/ICFG-PEDES/ICFG-PEDES.json"
  rstp:
    image_root: "/root/autodl-tmp/PSPD/dataset/RSTPReid"
    ann_file:  "/root/autodl-tmp/PSPD/dataset/RSTPReid/data_captions.json"

extractor:
  type: "instructblip_hf"
  num_samples: 3
  hf_model_name: "/root/autodl-tmp/PSPD/hf_models/instructblip-flan-t5-xl"
  generation:
    max_new_tokens: 256
    do_sample: true
    top_p: 0.9
    temperature: 0.8

teacher:
  enabled: true
  backend: transformers_clip
  model_dir: /root/autodl-tmp/PSPD/hf_models/openclip
  tau_teacher: 0.01

labels:
  colors: ["black","white","gray","red","blue","green","brown","yellow"]
  upper_types: ["tshirt","shirt","hoodie_sweater","jacket_coat","dress","other"]
  lower_types: ["pants","jeans","shorts","skirt","other"]
  genders: ["male","female","unknown"]